*{
    background-color: lightyellow;
}
.button{
    margin-right: 5rem;
    font-size: 20px;
    margin-left: 10rem;
    margin-top: 5rem;
    border-color: mediumpurple;
    color: peru;
    border-radius: 0.5rem;
    background-color: #fce6c7;
}